.register-form {
    width: 364px;
    font-size: 16px !important;
    line-height: 20px !important;
}

.register-form-label {
    font-weight: 600;
    color: #A2A2A8;
}

.register-form-control {
    color: #262636 !important;
}

.register-form-control:focus~label{
    font-weight: 600;
    font-size: 12px;
    color: green;
}

.register-form-control:focus {
    border-color:#6FD273 !important;
    box-shadow: none !important;
}

.register-form-control.is-invalid {
    border-color: #dc3545 !important;
    background-image: none !important;
}

.register-form-control.is-invalid:focus {
    border-color: #dc3545 !important;
}

.register-button {
    border-radius: 12px !important;
    width: 100%;
}

.register-button:hover {
    background-color: #0C9E12 !important;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-icon {
    animation: rotateAnimation 1s linear infinite; 
}

.register-error {
    margin-top: 24px;
    color: #dc3545;
}