.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.form-wrapper p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.form-wrapper a {
    padding: 12px 4px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    text-decoration: underline dotted #A2A2A8;
}

.form {
    width: 364px;
    font-size: 16px !important;
    line-height: 20px !important;
}


.form-container {
    padding: 48px;
    background-color: #fff;
    border-radius: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.form-container h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0px;
}

.form-label {
    font-weight: 600;
    color: #A2A2A8;
}

.form-control {
    color: #262636 !important;
}

.form-control:focus~label{
    font-weight: 600;
    font-size: 12px;
    color: green;
}

.form-control:focus {
    border-color:#6FD273 !important;
    box-shadow: none !important;
}

.form-control.is-invalid {
    border-color: #dc3545 !important;
    background-image: none !important;
}

.form-control.is-invalid:focus {
    border-color: #dc3545 !important;
}

.form-button {
    border-radius: 12px !important;
    width: 100%;
}

.form-button:hover {
    background-color: #0C9E12 !important;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-icon {
    animation: rotateAnimation 1s linear infinite; 
}

.form-error {
    margin-top: 24px;
    color: #dc3545;
}

.user-page {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.user-page-header {
   align-self: center;
   padding-left: 40px;
   padding-right: 40px;
} 